---
layout: page
---
<div class="resource-wrapper">

<div class="resource">
    {% case page.type %}
  {% when "map" %}
  <iframe
  src="{{page.location}}"
  width="640" height="480">
</iframe>
  {% when "table" %}
  <iframe class="airtable-embed"
  src="https://airtable.com/embed/shruJROPncD786vZ7?backgroundColor=blue&viewControls=on"
   frameborder="0" onmousewheel="" width="100%"
   height="533" style="background: transparent; border: 1px solid #ccc;">
 </iframe>
  {% else %}
    <p>Resource type unknown!</p>
{% endcase %}
</div>

<div class="description"
{{content}}
</div>
  </div>
